In [2]:
import pandas as pd

In [2]:
def preprocess_dataset(input_path: str, sep: str, select_columns: list, rename_columns: list):
    if input_path.split(".")[1] == "txt":
        df = pd.read_csv(input_path, sep=sep, quoting=csv.QUOTE_NONE)
    elif input_path.split(".")[1] == "parquet":
        df = pd.read_parquet(input_path)
    else:
        df = pd.read_csv(input_path, sep=sep)

    if len(select_columns) == 0:
        return df
    elif len(rename_columns) == 0:
        return df[select_columns]
    elif len(select_columns) == len(rename_columns):
        for i in range(0, len(select_columns)):
            df.rename(columns={select_columns[i]: rename_columns[i]}, inplace=True)
        return df[rename_columns]
    else:
        return df

In [61]:
df = pd.read_parquet(dataset_mrpc)
with pd.option_context('display.max_colwidth', None):
    display(df)

,label,id_1,id_2,sentence1,sentence2
0,1,702876,702977,"Amrozi accused his brother, whom he called ""the witness"", of deliberately distorting his evidence.","Referring to him as only ""the witness"", Amrozi accused his brother of deliberately distorting his evidence."
1,0,2108705,2108831,Yucaipa owned Dominick's before selling the chain to Safeway in 1998 for $2.5 billion.,Yucaipa bought Dominick's in 1995 for $693 million and sold it to Safeway for $1.8 billion in 1998.
2,1,1330381,1330521,"They had published an advertisement on the Internet on June 10, offering the cargo for sale, he added.","On June 10, the ship's owners had published an advertisement on the Internet, offering the explosives for sale."
3,0,3344667,3344648,"Around 0335 GMT, Tab shares were up 19 cents, or 4.4%, at A$4.56, having earlier set a record high of A$4.57.","Tab shares jumped 20 cents, or 4.6%, to set a record closing high at A$4.57."
4,1,1236820,1236712,"The stock rose $2.11, or about 11 percent, to close Friday at $21.51 on the New York Stock Exchange.",PG&E Corp. shares jumped $1.63 or 8 percent to $21.03 on the New York Stock Exchange on Friday.
...,...,...,...,...,...
4071,1,1620264,1620507,"""At this point, Mr. Brando announced: 'Somebody ought to put a bullet'"" through her head, the motion continued.","Brando said that ""somebody ought to put a bullet"" through her head, according to the defense."
4072,0,1848001,1848224,"Martin, 58, will be freed today after serving two thirds of his five-year sentence for the manslaughter of 16-year-old Fred Barras.",Martin served two thirds of a five-year sentence for the manslaughter of Barras and for wounding Fearon.
4073,1,747160,747144,"""We have concluded that the outlook for price stability over the medium term has improved significantly since our last decision to lower interest rates,"" Duisenberg said.","In a statement, the ECB said the outlook for price stability over the medium term had ""improved significantly"" since its last decision to lower interest rates in March."
4074,1,2539933,2539850,The notification was first reported Friday by MSNBC.,MSNBC.com first reported the CIA request on Friday.
4075,0,453575,453448,"The 30-year bond US30YT=RR rose 22/32 for a yield of 4.31 percent, versus 4.35 percent at Wednesday's close.","The 30-year bond US30YT=RR grew 1-3/32 for a yield of 4.30 percent, down from 4.35 percent late Wednesday."

# Process training set

In [3]:
dataset_etpc = "dataset/train_set/etpc_train.parquet"
dataset_mrpc = "dataset/train_set/mrpc_train.parquet"
dataset_paws = "dataset/train_set/paws_labeled_final_train.parquet"
dataset_superGlue = "dataset/train_set/superGlue_axb_train.parquet"

In [4]:
df_etpc = read_dataset(dataset_etpc, "", ["sentence1", "sentence2", "etpc_label"], ["input", "target", "label"]) 
df_paws = read_dataset(dataset_paws, "", ["sentence1", "sentence2", "label"], ["input", "target", "label"]) 
df_superGlue = read_dataset(dataset_superGlue, "", ["sentence1", "sentence2", "label"], ["input", "target", "label"]) 
df_mrpc = read_dataset(dataset_mrpc, "", ["sentence1", "sentence2", "label"], ["input", "target", "label"]) 

df_train = pd.concat([df_etpc, df_paws, df_superGlue, df_mrpc])
len(df_train)

60382

In [6]:
df_train_quality = df_train.loc[df_train["label"] == 1]
df_train_quality

28553

# Process test set

In [74]:
dataset_mrpc = "dataset/test_set/mrpc_test.parquet"
dataset_paws = "dataset/test_set/paws_labeled_final_test.parquet"
dataset_superGlue = "dataset/test_set/superGlue_axg_test.parquet"

In [84]:
df_paws = read_dataset(dataset_paws, "", ["sentence1", "sentence2", "label"], ["input", "target", "label"]) 
df_superGlue = read_dataset(dataset_superGlue, "", ["premise", "hypothesis", "label"], ["input", "target", "label"]) 
df_mrpc = read_dataset(dataset_mrpc, "", ["sentence1", "sentence2", "label"], ["input", "target", "label"])

10081

# Process validation set

In [85]:
dataset_mrpc = "dataset/validation_set/mrpc_validation.parquet"
dataset_paws = "dataset/validation_set/paws_labeled_final_validation.parquet"

In [86]:
df_paws = read_dataset(dataset_paws, "", ["sentence1", "sentence2", "label"], ["input", "target", "label"]) 
df_mrpc = read_dataset(dataset_mrpc, "", ["sentence1", "sentence2", "label"], ["input", "target", "label"]) 

df_validation = pd.concat([df_paws, df_mrpc])
len(df_validation)

8408

In [39]:
df_simpleWiki = pd.read_json(path_or_buf="dataset/raw_data/SimpleWiki.jsonl", lines=True)
df_simpleWiki

,0,1
0,The greatest example has been in his present j...,The greatest example has been in his present j...
1,President Hillery refused to speak to any oppo...,His reputation rose further when opposition le...
2,"He thought about returning to medicine , perha...","He considered returning to medicine , perhaps ..."
3,Hillery 's most famous policy was to force EEC...,As Social Affairs Commissioner Hillery 's most...
4,When President Cearbhall Ã `` DÃ laigh resigne...,When a furious President Ã `` DÃ laigh resigne...
...,...,...
102220,Caffiers is a commune . It is found in the reg...,Caffiers is a commune in the Pas-de-Calais dep...
102221,549 people were living in Orange as of 2000 .,The population was 549 at the 2000 census .
102222,Orange is a town of Juneau County in the state...,"Orange is a town in Juneau County , Wisconsin ..."
102223,Orainville is a commune . It is found in the r...,Orainville is a commune in the Aisne departmen...
102224,A text editor is a program that is run on a co...,A text editor is a type of program used for ed...

In [42]:
df_simpleWiki = df_simpleWiki.rename(columns={0: "#1 String", 1: "#2 String"})
df_simpleWiki

,#1 String,#2 String,label
0,The greatest example has been in his present j...,The greatest example has been in his present j...,1
1,President Hillery refused to speak to any oppo...,His reputation rose further when opposition le...,1
2,"He thought about returning to medicine , perha...","He considered returning to medicine , perhaps ...",1
3,Hillery 's most famous policy was to force EEC...,As Social Affairs Commissioner Hillery 's most...,1
4,When President Cearbhall Ã `` DÃ laigh resigne...,When a furious President Ã `` DÃ laigh resigne...,1
...,...,...,...
102220,Caffiers is a commune . It is found in the reg...,Caffiers is a commune in the Pas-de-Calais dep...,1
102221,549 people were living in Orange as of 2000 .,The population was 549 at the 2000 census .,1
102222,Orange is a town of Juneau County in the state...,"Orange is a town in Juneau County , Wisconsin ...",1
102223,Orainville is a commune . It is found in the r...,Orainville is a commune in the Aisne departmen...,1
102224,A text editor is a program that is run on a co...,A text editor is a type of program used for ed...,1

In [41]:
df_simpleWiki["label"] = 1
df_simpleWiki

,0,1,label
0,The greatest example has been in his present j...,The greatest example has been in his present j...,1
1,President Hillery refused to speak to any oppo...,His reputation rose further when opposition le...,1
2,"He thought about returning to medicine , perha...","He considered returning to medicine , perhaps ...",1
3,Hillery 's most famous policy was to force EEC...,As Social Affairs Commissioner Hillery 's most...,1
4,When President Cearbhall Ã `` DÃ laigh resigne...,When a furious President Ã `` DÃ laigh resigne...,1
...,...,...,...
102220,Caffiers is a commune . It is found in the reg...,Caffiers is a commune in the Pas-de-Calais dep...,1
102221,549 people were living in Orange as of 2000 .,The population was 549 at the 2000 census .,1
102222,Orange is a town of Juneau County in the state...,"Orange is a town in Juneau County , Wisconsin ...",1
102223,Orainville is a commune . It is found in the r...,Orainville is a commune in the Aisne departmen...,1
102224,A text editor is a program that is run on a co...,A text editor is a type of program used for ed...,1

In [43]:
df_simpleWiki.to_csv("dataset/new_data/simpleWiki.csv", index=False)

In [43]:
df_coco = pd.read_json(path_or_buf="dataset/coco_captions.jsonl", lines=True)

In [58]:
pd.Series(df_coco['texts'])

0         [A bathroom with a border of butterflies and b...
1         [A bathroom with a border of butterflies and b...
2         [A bathroom with a border of butterflies and b...
3         [A bathroom with a border of butterflies and b...
4         [A blue and white bathroom with butterfly them...
                                ...
828390    [Fans pose with stuffed animals at an ice rink...
828391    [Fans pose with stuffed animals at an ice rink...
828392    [A couple of women with some stuffed animals.,...
828393    [A couple of women with some stuffed animals.,...
828394    [Two women smile for the camea while posing iw...
Name: texts, Length: 828395, dtype: object

In [56]:
df_coco["texts"][0][1]

'A blue and white bathroom with butterfly themed wall tiles.'

In [6]:
df_train = pd.read_parquet("dataset/train_set/train_quality_dataset.parquet")
df_train

,#1 String,#2 String,label
0,"Amrozi accused his brother, whom he called ""th...","Referring to him as only ""the witness"", Amrozi...",1
2,They had published an advertisement on the Int...,"On June 10, the ship's owners had published an...",1
5,Revenue in the first quarter of the year dropp...,With the scandal hanging over Stewart's compan...,1
7,The DVD-CCA then appealed to the state Supreme...,The DVD CCA appealed that decision to the U.S....,1
9,He said the foodservice pie business doesn't f...,"""The foodservice pie business does not fit our...",1
...,...,...,...
4069,Knox County Health Department is following nat...,The health department spokesperson added the d...,1
4070,The new rules will allow a single company to o...,The changed national ownership limit allows a ...,1
4071,"""At this point, Mr. Brando announced: 'Somebod...","Brando said that ""somebody ought to put a bull...",1
4073,"""We have concluded that the outlook for price ...","In a statement, the ECB said the outlook for p...",1
4074,The notification was first reported Friday by ...,MSNBC.com first reported the CIA request on Fr...,1

In [1]:
path_AllNLI_dataset ="dataset/new_data/10k_AllNLI.csv"
path_quora_dataset ="dataset/new_data/52kdata_alex_qoura_aliniti_quality.csv"
path_simpleWiko_dataset ="dataset/new_data/simpleWiki.csv"

In [7]:
df_allnli = pd.read_csv(path_AllNLI_dataset)
df_allnli["label"] = 1

In [46]:
df_quora = pd.read_csv(path_quora_dataset)
df_quora["label"] = 1

In [45]:
df_simpleWiki = pd.read_csv(path_simpleWiko_dataset)

In [48]:
df_train_last = pd.concat([df_train, df_allnli, df_quora, df_simpleWiki])
df_train_last

,#1 String,#2 String,label
0,"Amrozi accused his brother, whom he called ""th...","Referring to him as only ""the witness"", Amrozi...",1
2,They had published an advertisement on the Int...,"On June 10, the ship's owners had published an...",1
5,Revenue in the first quarter of the year dropp...,With the scandal hanging over Stewart's compan...,1
7,The DVD-CCA then appealed to the state Supreme...,The DVD CCA appealed that decision to the U.S....,1
9,He said the foodservice pie business doesn't f...,"""The foodservice pie business does not fit our...",1
...,...,...,...
102220,Caffiers is a commune . It is found in the reg...,Caffiers is a commune in the Pas-de-Calais dep...,1
102221,549 people were living in Orange as of 2000 .,The population was 549 at the 2000 census .,1
102222,Orange is a town of Juneau County in the state...,"Orange is a town in Juneau County , Wisconsin ...",1
102223,Orainville is a commune . It is found in the r...,Orainville is a commune in the Aisne departmen...,1
102224,A text editor is a program that is run on a co...,A text editor is a type of program used for ed...,1

In [ ]:
df_train_last.to_csv("dataset/train_da/simpleWiki.csv", index=False)